<section class="subscribe-form">
    <h3 class="subscribe-form-title">订阅 {{@site.title}}</h3>
    <p class="subscribe-form-description">从你的收件箱获取最新文章</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">订阅</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>很好！</strong>查看你的收件箱并点击链接完成订阅。
        </div>
        <div class="message-error">
            请输入有效的邮箱地址！
        </div>
    </form>
</section>